[*]
end_of_line  = LF
charset      = utf-8
indent_style = space
indent_size  = 4
insert_final_newline = true

[*.{yml,json,lua,md,html}]
charset      = utf-8
indent_style = space
indent_size  = 2

[Makefile]
indent_style = tab
